.main_wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    padding: 100px 20px 100px 20px;
}
.nav_top {
    background-color: #323232;
}
.footer_container {
    background-color: #1f1f1f;
}
.form_top {
    background-color: #323232 !important;
}
.card {
    width: 700px;
}
.scene {
    width: 100%;
}

.scene_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px !important;
    margin-top: 25px !important;
}
.radio_wrapper * {
    text-align: left;
}
@media (max-width: 335px) {
    .scene_wrapper {
        flex-direction: column;
    }
}

.radio_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
}
.card-body{
    padding-top: 50px !important;
}
.text-center > * {
    margin: 30px 0 30px 0;
}
.text-center small {
    margin: 0 !important;
}
#defaultRegisterFormPassword {
    margin-bottom: 10px;
}
#locality-dropdown {
    margin-top: 0;
}

#title_main_contact {
    text-align: left;
}
.col{
    padding: 0 !important;
}
.lft_col {
    padding-right: 10px !important;
}
.rgt_col {
    padding-left: 10px !important;
}

.mdr {
    font-size: 10em;
    background-color: #830000;
}
